BOT_TOKEN=
ADMIN_IDS=
MONGODB_URI=
PORT=3000
NODE_ENV=development
BOT_MODE=polling
WEBHOOK_URL=
WEBHOOK_PATH=/telegram/webhook
WEBHOOK_SECRET=
START_GIF_FILE_ID=
SUPPORT_USERNAME=
DEV_INFO=Kinobot — Node.js va MongoDB
